body { 
    background: url(./assets/atmospheric-forest.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 50px;
}

#principal {
    padding: 30px;
    background: rgb(90, 100, 55);
}

/*  Trying to create a pop up window effect to display content within 
    need to try and get it to align centrally within the overall page
    also need to work out how to make it a pop up frame within on click
    otherwise hide.

#projects {
    background: rgb(120, 120, 120);
    width: 120%;
    padding-bottom: 40px;
    border-style: solid;
    border-color:rgb(70, 70, 70);
}

*/

/* header bit */

.header-content {
  /* ... */
  width: 100%;
  display: flex;
  justify-content: space-around
}

.avatar {
  width: 10%;
  height: 10%;
  margin: 25px;
  display: flex;
  align-items: right;
}

.avatar-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid rgb(20, 60, 15)
}

ul.avatar-ul {
  list-style-type: none;
  background-color: rgb(27, 75, 34);
  padding: 10px;
  margin-left: 5px;
  border: 2px solid rgb(20, 60, 15);
}

ul li.avatar-list {
  color: white;
  text-align: center;
}

/* navigation bit */

.fixednav {
  position: fixed;
  top: 0;
  left: 0;
  }

.staticnav {
  position: static;

}
#navigation {
  background-color: rgb(27, 75, 34);
  padding: 10px;
  width: 100%;
}
#navigation a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

/* end nav part */

/* footer part */

.footer {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.footer-item {
  background-color: rgb(27, 75, 34);
  padding: 10px;
  flex: 1;
}

.footer-two {
  flex: 2;
  text-align: center;
}

/* end footer */


html {
  scroll-behavior: smooth;
}

p {
  margin-bottom: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* game section of projects tab */

#dodger {
    background-color: rgb(176, 20, 197);
    height: 20px;
    position: absolute;
    width: 40px;
  }
  
  #game {
    background-color: rgb(32, 44, 37);
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 400px;
  }
  
  #start {
    color: white;
    font-size: 4rem;
    position: relative;
    text-decoration: none;
    top: 4rem;
  }
  
  .rock {
    width: 20px;
    height: 20px;
    background: tan;
    position: absolute;
  }
  
  .rock:before {
    content: "";
    border-bottom: 6px solid tan;
    border-left: 6px solid #111;
    border-right: 6px solid #111;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 9px;
  }
  
  .rock:after {
    content: "";
    border-left: 6px solid #111;
    border-right: 6px solid #111;
    border-top: 6px solid tan;
    bottom: 0;
    height: 0;
    left: 0;
    position: absolute;
    width: 9px;
  }
  
  /* end of game section for projects tab */