body { 
    background: url(./assets/atmospheric-forest.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 50px;
}

#principal {
    padding: 30px;
    background: rgb(90, 100, 55);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}